<div style="color:#ffffff;padding:0.5em;text-align:left;background: #A39236;
box-shadow:rgba(0, 0, 0, 0.35) 0px -33px 8px -28px inset;">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8" style="text-align: center;">
                <a href="https://aegis.ist/doc-snapshots" class="btn btn--light btn--rounded btn--w-icon" style="padding:0.5em 1.25em;border-radius:8px;margin:0;margin-bottom:0.5em;">
                    <i class="icon icon--chevron-down" style="position:relative;"></i>
                    <span>version: <strong>v0.14.0</strong></span>
                </a>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>


